.table {
  margin-top: 40px;
}

.table table {
  width: 100%;
}

.table table thead {
  background-color: #eee;
}
.table table thead th {
  text-align: left;
  padding: 8px;
}
.table table tbody td {
  text-align: left;
  padding: 8px;
}

.editBtn {
  border: none;
  height: 32px;
  padding: 0px 14px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #eee;
  transition: 0.3s;
}

.deleteBtn {
  border: none;
  height: 32px;
  padding: 0px 14px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #ff0000;
  color: #ff0000;
  margin-left: 8px;
  transition: 0.3s;
}

.deleteBtn:hover,
.editBtn:hover {
  opacity: 0.8;
}
.deleteBtn:active,
.editBtn:active {
  opacity: 0.1;
}
